body  {
    margin: 0, auto;
    text-align: center;
}

figure {
    margin: 0;
    display: inline-block;
}


img, video {
    width: 225px;
    height: 169.2px;
}

html {
    font-size: 12px;
    font: Roboto;
}